<div class="container">
<table class="table">

<h1>Balance: <%= @balance %></h1>
<h1>Debt: <%= @debt %></h1>
<h1>Total: <%= Banking.sum(:amount) %></h1>

<tr>
  <th>Date</th>
  <th>Title</th>
  <th>Amount</th>
  <th></th>
  <th></th>
</tr>
<% @bankings.each do |bank| %>
<tr>
  <td><%= bank.date %></td>
  <td><%= bank.title %></td>
  <td><%= bank.amount %></td>
  <td><%= link_to 'Edit', edit_banking_path(bank), class: 'btn btn-sm btn-warning' %></td>
  <td><%= link_to 'Delete', banking_path(bank), method: :delete, class: 'btn btn-sm btn-danger', data: {confirm: "Are you sure?"} %></td>
  
</tr>
<% end %>
</table>
</div>